<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>    
	<add name="TestConnection" connectionString ="Server=localhost\SQLEXPRESS;Database=WEB;Trusted_Connection=True"/>
    <add name="LiveConnection" connectionString="Data Source=YourServer;Initial Catalog=YourDB;Integrated Security=False;User ID=YourUser;Password=YourPass;Connect Timeout=15;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryption="AES" decryptionKey="YourKey" validation="SHA1" validationKey="YourKey"/>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <!--<httpRuntime/>-->
    <authentication mode="Windows"/>
    <trust level="Full"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
</configuration>